@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Public Sans", "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@media print {
  nav {
    display: none !important;
  }
  button {
    display: none !important;
  }
  .print-hide {
    display: none !important;
  }
  body, main {
    background-color: white !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
